@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;    
  }
  
  li li {
      margin: 0;
  }
  
  li li:before {
      content: counters(item, ".") " ";
  }
  